<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Municipality Mobility System</title>
    <link rel="stylesheet" href="~/plugins/toastr/toastr.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MunicipalityMobilitySystem.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/limonte-sweetalert2/sweetalert2.css" asp-append-version="true" />


    @await RenderSectionAsync("Head", false)
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Municipality Mobility System</a>
                @if (this.User?.Identity != null 
                && this.User.Identity.IsAuthenticated
                && this.User.IsInRole(AdminRolleName))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Admin" asp-action="Index"> Administrator work area</a>
                }
                @if (this.User?.Identity != null
                && this.User.Identity.IsAuthenticated
                && this.User.IsInRole(Mechanic))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="RepairCenter" asp-action="Index"> Mechanic work area</a>
                }
                @if (this.User?.Identity != null
                && this.User.Identity.IsAuthenticated
                && this.User.IsInRole(Cleaner))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="WashingCenter" asp-action="Index"> Cleaner work area</a>
                }
                @if (this.User?.Identity != null
                && this.User.Identity.IsAuthenticated
                && this.User.IsInRole(Manager))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Office" asp-action="Index"> Manager work area</a>
                }
                @if (this.User?.Identity != null
                && this.User.Identity.IsAuthenticated
                && this.User.IsInRole(Boss))
                {
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Statistic" asp-action="Index"> Boss home area</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Admin" asp-action="Index"> Administrator home area</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="Office" asp-action="Index"> Manager work area</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="RepairCenter" asp-action="Index"> Mechanic home area</a>
                    <a class="navbar-brand" asp-area="Admin" asp-controller="WashingCenter" asp-action="Index"> Cleaner home area</a>
                }
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        @if (this.User?.Identity!= null 
                        && this.User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Vehicle" asp-action="Mine"> My Rented Vehicles</a>
                            </li>
                            <li>
                                <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="MineBills"> My Bills</a>
                            </li>
                        }
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; @DateTime.UtcNow.Year - MunicipalityMobilitySystem 
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/plugins/toastr/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/limonte-sweetalert2/sweetalert2.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await Component.InvokeAsync("Notyf")
    @RenderSection("Scripts", required: false)
</body>
</html>
