@model IEnumerable<WashingCenterServiceModel>

@{
    ViewBag.Title = "Washing Centers Page";
}
<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<div class="row">
    @if (this.User?.Identity != null
    && this.User.Identity.IsAuthenticated
    && this.User.IsInRole(AdminRolleName))
    {
        <div class="col-8">
            <h3 class="text-success">Here you can <b>create a Washing Centers:</b> </h3>
            <a asp-area="Admin" asp-controller="WashingCenter" asp-action="Create"
               class="btn btn-outline-success btn-lg">Create</a>
        </div>
    }
</div>
<br />
<div class="row">
    <div class="col-6">
        <h2 class="text-primary">Washing Centers List:</h2>
    </div>
</div>
<br />
<div class="row">
    @foreach (var center in Model)
    {
        <partial name="_WashingCenterPartial" model="@center" />
    }
</div>
@section Scripts {
    <script>

        function myConfirm(e) {

            e.preventDefault();

            Swal.fire({
                title: 'Are you sure you want to delete washing center?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'The washing center has been deleted.',
                        'success'
                    ).then((resultDeleted) => {

                        e.target.parentElement.submit();
                    })
                }
            })
        }
    </script>
}

