@model IEnumerable<VehicleParkDetailsModel>

@{
    ViewBag.Title = "All Vehicle Parks";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />
<h4>The Mobility System has @Model.Count() vehicle parks:</h4>
<div>
    <div>
        <label>Here you can <b> create vehicle park</b></label>
    </div>
    <a asp-area="Admin" asp-controller="VehiclePark" asp-action="Add"
       class="btn btn-success btn-lg">Create Vehicle Park</a>
</div>
<br />

<div class="row">
    @foreach (var park in Model)
    {
        <partial name="_VehicleParkPartial" model="@park"/>
    }
</div>
@section Scripts {
    <script>

        function myConfirm(e) {

            e.preventDefault();

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Deleted!',
                        'Your vehicle park has been deleted.',
                        'success'
                    ).then((resultDeleted) => {

                        e.target.parentElement.submit();
                    })
                }
            })
        }
    </script>
}